<!DOCTYPE html>
<html lang="en-US">
	<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113165250-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-113165250-1');
        </script>
		<title>Rattrap, dynamic rendered objects</title>
		<!-- BEGIN META -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Laser Cut, Chairs, Blueprints">
        <meta name="description" content="Let's reuse instead of wasting">
		<!-- END META -->

		<!-- BEGIN STYLESHEETS -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/bootstrap.css?1422792965" />
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/materialadmin.css?1425466319" />
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/font-awesome.min.css?1422529194" />
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/rickshaw/rickshaw.css?1422792967" />
		<link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/morris/morris.core.css?1420463396" />
		<!-- END STYLESHEETS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
        <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>
	</head>
	<body class="menubar-hoverable header-fixed">

		<!-- BEGIN HEADER-->
		<header id="header" >
			<div class="headerbar">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="headerbar-left">
					<ul class="header-nav header-nav-options">
						<li class="header-nav-brand" >
							<div class="brand-holder">
								<a href="index.html">
									<span class="text-lg text-bold text-primary">Rat Trappers</span>
								</a>
							</div>
						</li>
						<li>
							<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
								<i class="fa fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="headerbar-right">
					<ul class="header-nav header-nav-options">
						<li>
							<!-- Search form -->
							<form class="navbar-search" role="search">
								<div class="form-group">
									<input type="text" class="form-control" name="headerSearch" placeholder="Search is not available yet!!">
								</div>
								<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
							</form>
						</li>
				</div><!--end #header-navbar-collapse -->
			</div>
		</header>
		<!-- END HEADER-->

		<!-- BEGIN BASE-->
		<div id="base" ng-app="Rattrap" ng-controller="ProjectPresentation">

			<!-- BEGIN OFFCANVAS LEFT -->
			<div class="offcanvas">
			</div><!--end .offcanvas-->
			<!-- END OFFCANVAS LEFT -->

			<!-- BEGIN CONTENT-->
			<div id="content" >
				<section>
					<div class="section-body">
						<div class="row">

							<!-- BEGIN SITE ACTIVITY -->
							<div class="col-md-4 col-sm-6">
								<div class="card card-underline">
									<div class="card-head">
										<header ng-bind="project.title"></header>
									</div><!--end .card-head -->
									<div class="card-body">
										<span>
											<img style="display: block; margin: 0 auto;" src="{{project.thumbnailurl}}" width="100%"/>
										</span>
											<span ng-bind-html="project.presentation">
										</span>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="card card-underline">
									<div class="card-head">
										<header>Shape preview</header>
									</div><!--end .card-head -->
									<div class="card-body no-padding  height-12">
										<span ng-bind-html="errorMessages">
										</span>
										<span ng-bind-html="dynamicPreview" style="display: block; margin: 0 auto;">
										</span>
									</div><!--end .card-body -->
								</div><!--end .card -->
							</div><!--end .col -->

							<div class="col-md-4">
								<div class="card card-underline">
									<div class="card-head">
										<header>Parameters</header>
									</div><!--end .card-head -->
									<div class="card-body">
										<form class="form">
											<div class="checkbox checkbox-styled">
												<label>
													<input type="checkbox" ng-model="enableSplitters" class="form-control">
													<span>Enable output splitters (means to match your laser cut dimensions)</span>
												</label>
											</div>
											<div class="form-group" ng-repeat="parameter in project.parameters">
												<input ng-model="parameter.value" type="text" class="form-control">
												<label>{{parameter.displayname}}</label>
												<p class="help-block">{{parameter.description}}</p>
											</div>
											<button ng-click="preview()" class="btn btn-info">Preview</button>
											<button ng-click="downloadZip()" class="btn btn-info">Download</button>
											<button ng-click="reset()" class="btn btn-info">Reset</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</section>

			</div>

			<!-- BEGIN MENUBAR-->
			<div id="menubar" class="menubar-inverse ">
				<div class="menubar-fixed-panel">
					<div>
						<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					<div class="expanded">
						<a href="index.html">
							<span class="text-lg text-bold text-primary ">Home</span>
						</a>
					</div>
				</div>
				<div class="menubar-scroll-panel">

					<!-- BEGIN MAIN MENU -->
					<ul id="main-menu" class="gui-controls">

						<!-- BEGIN DASHBOARD -->
						<li>
							<a href="index.html" class="active">
								<div class="gui-icon"><i class="md md-home"></i></div>
								<span class="title">Home</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END DASHBOARD -->

						<!-- BEGIN UI -->
						<li class="gui-folder">
							<a href="projects.html">
								<div class="gui-icon"><i class="md md-computer"></i></div>
								<span class="title">Projects</span>
							</a>
						</li>
						<li class="gui-folder">
							<a href="about.html">
								<div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
								<span class="title">About</span>
							</a>
						</li><!--end /menu-li -->
						<!-- END UI -->

					</ul><!--end .main-menu -->
					<!-- END MAIN MENU -->

					<div class="menubar-foot-panel">
						<small class="no-linebreak hidden-folded">
							<span class="opacity-75">Copyright &copy; 2018</span> <strong>Rat Trappers</strong>
						</small>
					</div>
				</div><!--end .menubar-scroll-panel-->
			</div><!--end #menubar-->
			<!-- END MENUBAR -->

		</div>
		<script>

var app = angular.module("Rattrap", []);

app.filter('unsafe', function($sce) { return $sce.trustAsHtml; });

app.controller("ProjectPresentation", function($scope, $http, $sce, $location, projectManager, renderDynamic) {
//fc98a674c91db1ff77e067f900aaa427
	var projectId = $location.search().projectId;
	var debug = $location.search().debug == "true";
	console.log("Loading project '" + projectId + "'")
	var parameters = [];
	for (var i = 0; i < 10; i++) {
		parameters.push({
			name: "parameter" + i,
			value: i,
			displayname: "Display Parameter " + i
		});
	}

	var emptyProject = {
		title: "Loading...",
		presentation: $sce.trustAsHtml("Loading..."),
		parameters: parameters,
		thumbnailurl: "assets/img/loading.gif",
	};
	$scope.messages = "Loading...";
	$scope.project = emptyProject;
	$scope.dynamicPreview = $sce.trustAsHtml("<img src=\"assets/img/loading.gif\" />");
	$scope.enableSplitters = true;
	$scope.errorMessages = $sce.trustAsHtml("");

	projectManager.load($sce, $scope, $http, projectId);
	
	var renderPostBody = {
		title: $scope.project.name,
		projectid: projectId,
		width: 0,
		height: 0
	}
	
	renderDynamic.preview(renderPostBody, debug, $scope, $http, $sce);
	
	$scope.preview = function() {
		var customRenderPostBody = {
			name: $scope.project.title,
			projectid: projectId,
			width: 0,
			height: 0,
			parameters: $scope.project.parameters
		}
		renderDynamic.preview(customRenderPostBody, debug, $scope, $http, $sce);
	};
	
	$scope.reset = function() {
		projectManager.load($sce, $scope, $http, projectId);
		var renderPostBody = {
			name: $scope.project.title,
			projectid: projectId,
			width: 0,
			height: 0
		}
		$scope.enableSplitters = true;
		renderDynamic.preview(renderPostBody, debug, $scope, $http, $sce);
	};
	
	$scope.downloadZip = function() {
		var customRenderPostBody = {
			name: $scope.project.title,
			projectid: projectId,
			width: 0,
			height: 0,
			parameters: $scope.project.parameters,
			enableSplitters: $scope.enableSplitters
		}
		renderDynamic.export(customRenderPostBody, debug, $scope, $http, $sce);
	};
	
	$scope.messages = "";

	
});

app.factory('renderDynamic', function () {
	return {
		preview: function(renderPostBody, debug, $scope, $http, $sce) {
			$scope.dynamicPreview = $sce.trustAsHtml("<img src=\"assets/img/loading.gif\" />");
			$http.post('/api/preview', renderPostBody).
			then(function successCallback(response) {
				$scope.dynamicPreview = $sce.trustAsHtml(response.data);
				if (debug) {
					console.log("'" + response.data + "'");
				}
				$scope.errorMessages = $sce.trustAsHtml("");
			}, function errorCallback(response){
				var errorMessage = response.headers('RenderingError');
				console.log("Header:"+errorMessage);
				if (errorMessage != null && errorMessage != '') {
					$scope.dynamicPreview = $sce.trustAsHtml("");
					$scope.errorMessages = $sce.trustAsHtml("<a href=\"#\"><span class=\"badge badge-danger\">Validation error</span></a> : Parameters are invalid : " + errorMessage);
				} else {
					$scope.dynamicPreview = $sce.trustAsHtml("");
					$scope.errorMessages = $sce.trustAsHtml("<a href=\"#\"><span class=\"badge badge-danger\">Internal error</span></a> : Application error occurred");
				}
			});
		},
		export: function(renderPostBody, debug, $scope, $http, $sce) {
			$http.post('/api/render', renderPostBody, {
				dataType : "binary",
				processData : false,
				accept:'application/zip',
				Encoding: 'gzip',
				responseType:'arraybuffer'}).
			then(function successCallback(response) {
				var currentDateTime = new Date();
				var dateTimeSuffix = '_' + currentDateTime.getFullYear() + '-' + (currentDateTime.getMonth() + 1) + '-' + currentDateTime.getDate() + '_' + currentDateTime.getHours() + 'h-' + currentDateTime.getMinutes() + 'm';
                var fileName = $scope.project.title.replace(/\s/g, '_') + dateTimeSuffix + ".zip";

				var file = new Blob([response.data], {type: "application/octet-stream"})

				if (window.navigator.msSaveOrOpenBlob) { // For IE:
                    navigator.msSaveBlob(file, fileName);
                } else { // For other browsers:
                    download(file, fileName);
                }
				$scope.errorMessages = $sce.trustAsHtml("");
			}, function errorCallback(response){
				var errorMessage = response.headers('RenderingError');
				console.log("Header:"+errorMessage);
				if (errorMessage != null && errorMessage != '') {
					$scope.dynamicPreview = $sce.trustAsHtml("");
					$scope.errorMessages = $sce.trustAsHtml("<a href=\"#\"><span class=\"badge badge-danger\">Validation error</span></a> : Parameters are invalid : " + errorMessage);
				} else {
					$scope.dynamicPreview = $sce.trustAsHtml("");
					$scope.errorMessages = $sce.trustAsHtml("<a href=\"#\"><span class=\"badge badge-danger\">Internal error</span></a> : Application error occurred");
				}
			});
		}
	}

});

app.factory('projectManager', function () {
	return {
		load: function($sce, $scope, $http, projectId) {
			$http.get('/api/project?id=' + projectId).
				then(function successCallback(response) {
					$scope.project = response.data;
					$scope.project.presentation = $sce.trustAsHtml($scope.project.presentation);
			}, function errorCallback(response){
					$scope.project.name = "Error";
					console.log("Unable to perform get request");
			});
		}
	}

});

function download(blob, fileName) {
    saveAs(blob, fileName);
}

		</script>


		<!-- BEGIN JAVASCRIPT -->
		<script src="assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
		<script src="assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script src="assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="assets/js/libs/spin.js/spin.min.js"></script>
		<script src="assets/js/libs/autosize/jquery.autosize.min.js"></script>
		<script src="assets/js/libs/moment/moment.min.js"></script>
		<script src="assets/js/libs/flot/jquery.flot.min.js"></script>
		<script src="assets/js/libs/flot/jquery.flot.time.min.js"></script>
		<script src="assets/js/libs/flot/jquery.flot.resize.min.js"></script>
		<script src="assets/js/libs/flot/jquery.flot.orderBars.js"></script>
		<script src="assets/js/libs/flot/jquery.flot.pie.js"></script>
		<script src="assets/js/libs/flot/curvedLines.js"></script>
		<script src="assets/js/libs/jquery-knob/jquery.knob.min.js"></script>
		<script src="assets/js/libs/sparkline/jquery.sparkline.min.js"></script>
		<script src="assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
		<script src="assets/js/libs/d3/d3.min.js"></script>
		<script src="assets/js/libs/d3/d3.v3.js"></script>
		<script src="assets/js/libs/rickshaw/rickshaw.min.js"></script>
		<script src="assets/js/core/source/App.js"></script>
		<script src="assets/js/core/source/AppNavigation.js"></script>
		<script src="assets/js/core/source/AppOffcanvas.js"></script>
		<script src="assets/js/core/source/AppCard.js"></script>
		<script src="assets/js/core/source/AppForm.js"></script>
		<script src="assets/js/core/source/AppNavSearch.js"></script>
		<script src="assets/js/core/source/AppVendor.js"></script>
		<script src="assets/js/core/demo/Demo.js"></script>
		<script src="assets/js/core/demo/DemoDashboard.js"></script>
		<!-- END JAVASCRIPT -->

	</body>
</html>